.hero {
    width: 1110px;
    height: 500px;
    margin-left: 250px;
    margin-top: 94px;

    background-image: url("/assets/portfolio/manage/image-manage-hero.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.projetos {
    width: 1110px;
    height: 1192px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 250px;
    margin-top: 115px;
}

.text-manage {
    width: 350px;
    height: 498px;
    display: flex;
    flex-direction: column;

    border-width: 430px;
    border: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style:double;

    border-color:#33323D;
}

.text-manage h1 {
    margin-top: 48px;

    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;

    color: #33323D;
}

.text-manage p {
    margin-top: 29px;

    font-family: 'Public Sans', sans-serif;
    font-size: 16px;

    color:#33323D;
}

.text-manage h3 {
    margin-top: 53px;

    font-family: 'Public Sans', sans-serif;
    font-size: 16px;

    color: #5FB4A2;
}

.text-manage h2 {
    margin-top: 16px;

    font-family: 'Public Sans', sans-serif;
    font-size: 16px;

    color: #5FB4A2;
}

.text-manage button {
    width: 178px;
    height: 48px;
    margin-top: 49px;

    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.text-manage2 {
    width: 635px;
    height: 1192px;
    display: flex;
    flex-direction: column;
}

.text-manage2 h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;

    color: #33323D;
}

.previews {
    margin-top: 40px;
}

.text-manage2 p {
    margin-top: 28px;

    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;

    color: #33323D;
}

.img-manage {
    width: 635px;
    height: 400px;
    margin-top: 28px;

    background-image: url("/assets/portfolio/manage/image-manage-preview-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.img-manage2 {
    width: 635px;
    height: 400px;
    margin-top: 32px;

    background-image: url("/assets/portfolio/manage/image-manage-preview-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.outros {
    width: 1110px;
    height: 132px;
    margin-left: 250px;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-width: 430px;
    border: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style:double;

    border-color:#33323D;
}

.btn1 {
    width: 162px;
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nome {
    margin-left: 32px;
}

.nome h1 {
    font-family: 'Ibarra Real Nova', serif;

    color: #33323D;
}

.nome p {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;

    color: #33323D;
}

.btn2 {
    width: 162px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img {
    margin-left: 32px;
    margin-right: 60px;
}



